:root {
  --color-primary: var(--p-primary-color);
  --color-primary-contrast: var(--p-primary-contrast-color);
  --color-primary-50: var(--p-primary-50);
  --color-text: var(--p-text-color);
  --color-text-muted: var(--p-text-muted-color);
  --color-surface: var(--p-content-background);
  --color-surface-hover: var(--p-content-hover-background);
  --color-surface-overlay: var(--p-overlay-popover-background);
  --color-surface-ground: var(--p-surface-100);
  --color-surface-400: var(--p-surface-400);
  --color-surface-500: var(--p-surface-500);
  --color-border: var(--p-content-border-color);
  --color-mask: var(--p-mask-background);
  --color-mark-bg: #fff8e1;
  --radius: var(--p-content-border-radius);
}

:root[class*='app-dark'] {
  --color-surface-ground: var(--p-surface-950);
}
